body {
    margin-top: 80px;
    margin-left: 140px;
    background-color: bisque;
}

h1 {
    margin-left:-130px;
    text-align: center;
}

p {
    font-size: 14px;
}

footer{
    
    margin-left: -150px;
    margin-top: 50px;
    background-color: black;
    color: white;
}

footer p{
    padding: 10px;
    font-size: 12px;
    text-align: center;
}
.amarelo {
    background-color: yellow;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.azul {
    background-color: rgb(0, 68, 255);
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.vermelho {
    background-color: rgb(255, 0, 0);
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.verde {
    background-color: rgb(4, 177, 70);
    width: 40px;
    height: 40px;
    border: 1px solid black;
}


.liner2 {
    display: flex;
    width: 120px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.liner3 {
    display: flex;
    
}


.cubo {
    width: 120px;
    height: 40px;
    position: relative;
    transform-style: preserve-3d;
    animation: girar 30s infinite linear;
}
.cubo1 {
    width: 120px;
    height: 40px;
    position: relative;
    transform-style: preserve-3d;
    animation: girar 15s infinite linear alternate-reverse;
}

.face {
    position: absolute;
    width: 120px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
}
  
.front {
    transform: translateZ(60px);
    display: flex;
}
  
.back {
    transform: translateZ(-60px);
    display: flex;
}
  
.right {
    transform: rotateY(90deg) translateZ(60px);
    display: flex;
}
  
.left {
    transform: rotateY(-90deg) translateZ(60px);
    display: flex;
}
  
.top {
    transform: rotateX(-90deg) translateZ(60px);
}
  
.bottom {
    transform: rotateX(90deg) translateZ(60px);
}
  
@keyframes girar {
    0% {
      transform: rotateY(0deg);
    }
    
    100% {
      transform: rotateY(360deg);
    }
}
  
@keyframes girar-coluna {
    0% {
      transform: rotateY(0deg);
    }
    
    100% {
      transform: rotateY(360deg);
    }
}
  
  